@import 'variables';

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post {
  display: flex;
  border-top: 1px solid $secondaryColor;
  background: white;
  padding: 10px;
  text-align: left;

@media only screen and (min-width: 601px) {
  max-height: 250px;

  &:nth-child(odd) {
    flex-direction: row;
    text-align: left;
    .featured {
      margin-right: 15px;
    }
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
    .featured {
      margin-left: 15px;
    }
  }
}

  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
  h3 {
    font-size: 20px;
    margin: 0px;
    border: none;

    white-space: nowrap;

    a {
      color: $primaryColor;
      &:hover {
        color: darken($primaryColor, 30%);
      }
      text-decoration: none;
    }
  }
}

.content-teaser {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.meta {
  font-size: 13px;
  font-weight: 300;
}

.featured {
  max-width: 40%;
}

.excerpt {
  font-weight: 300;
  letter-spacing: 0.02em;
  margin-bottom: 0px;
}

.tags {
  font-size: 12px;
  margin-right: 5px;
  padding: 2px 5px;
  background: #d6d6d6;
  border-radius: 5px;
  text-decoration: none !important;
  &:hover {
    color: darken($primaryColor, 30%) !important;
  }
}

.sort-arrow {
  cursor: pointer;
}

/** Tag Cloud */

.side-panel {
  max-width: 25%;
  margin: 0 10px;
}

@media only screen and (max-width: 600px) {
  .post {
    flex-direction: column;
    max-width: 100%;
    .featured {
      max-width: 100%;
      height: 200px;
    }
    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}