@import 'variables';

@media only screen and (min-width: 801px) {
  .site-footer {
    margin-left: 25vw;
  }
}

@media only screen and (max-width: 800px) {
  .site-footer {
    margin-left: 0;
  }
}

.site-footer {
  background-color: $primaryColor;
  color: $mainWhite;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.container {
  padding: 1rem;
  opacity: 0.8;
}